.top-landing-container {
  background-color: var(--secondary-color);
  padding: 20px 20px 50px 20px;
}

.top-landing-container-grid {
  width: 750px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.top-landing-container-first-image .image img {
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  object-fit: contain;
}

.top-landing-container-grid .image img {
  width: 250px;
}

.top-landing-container-mobile .top-landing-container-grid, 
.top-landing-container-tablet .top-landing-container-grid {
  width: 100%; 
}

.top-landing-container-text {
  text-align: left;
}
.top-landing-container-mobile .top-landing-container-text {
  text-align: center;
}

.social-login-buttons {
  width: 270px;
  margin: 50px auto;
}