.image-container {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home-hero.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--primary-pad) 0;
}

.image-container-mobile  {
  padding: var(--primary-pad) 0;
}

.search-container{
  width: 80%;
  margin: auto;
}

.search-container h1 {
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--primary-color);
}

.search-container p {
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--primary-color);
  font-size: 1.2rem;
}
