.navbar {
  background-color: var(--primary-color);
  overflow: hidden;
  position: relative;
}

.navbar a {
  float: left;
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#profile-icon:hover{
  background-color: var(--primary-color);
}

.burger-nav {
  text-align: left;
  padding: 10px;
}

.burger-nav a {
  float: left; 
  clear: left;
}

#profile-icon {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 20px;
}