.navbar {
  background-color: #10002b;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 1.3rem; */
}

.navbar a:hover {
  background-color: white;
  color: #10002b;
}

.burger-nav {
  text-align: left;
  padding: 10px;
}

.burger-nav a {
  float: left; 
  clear: left;
}