.navbar {
  background-color: #023047;
  overflow: hidden;
  position: relative;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  background-color: white;
  color: #023047;
}

.burger-nav {
  text-align: left;
  padding: 10px;
}

.burger-nav a {
  float: left; 
  clear: left;
}

#profile-icon {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 20px;
}