.trending-searches-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.trending-searches,
.trending-searches p {
  color: var(--primary-color);
  margin: auto;
}