#searchInputText {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: var(--primary-color);
  border-radius: 25px;
  outline-width: 0;
  border: solid;
  border-color: var(--primary-color);
}