.search-container {
  width: 400px;
  margin: auto;
}

.search-container-mobile {
  width: 80%;
}

#searchInputText {
  width: 80%;
  height: 40px;
  padding: 0 5%;
  color: #023047;
  font-size: 1.5rem;
  border-radius: 25px;
  outline-width: 0;
  border: solid;
  border-color: #023047;
}
