.suggested-term-container {
  width: 250px;
  background-color: var(--secondary-color);
  margin: auto;
  padding: 10px 0;
  border: solid;
  border-color: var(--primary-color);
  border-width: thin;
}

.suggested-term-container-mobile {
  width: 50%;
}

.suggested-term-container p {
  margin: 0;
}

.suggested-term-container:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

.suggested-term-container:hover p {
  color: var(--tertiary-color);
}