.suggested-term-container {
  width: 300px;
  background-color: white;
  margin: auto;
  padding: 10px 0;
}

.suggested-term-container p {
  margin: 0;
}

.suggested-term-container:hover {
  color: #fb8500;
  background-color: #8ecae6;
}